@tailwind base;
@tailwind components;
@tailwind utilities;

  .navbar-expanded {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
}